<div class="well">
	<div class="page-header">
		<button type="button" class="btn btn-default btn-sm favorite-btn pull-right" title="Toggle Favorite">
		<span class="fa fa-lg fa-star<%= !favorite ? '-o' : '' %>"></span>
		</button>
		<h1><a href="https://wikipedia.org/wiki/index.php?curid=<%= pageID %>" target="_blank" title="View <%= title %> in WikiPedia"><%= title %></a></h1>
	</div>
	<div class="loading text-center"><i class="fa fa-spinner fa-lg fa-spin"></i> Loading...</div>
	<p class="content" style="display: none;"></p>
</div>