<button class="btn btn-default btn-xs kbd-help" data-toggle="modal" data-target="#kbdModal" title="Keyboard shortcuts Available">
<i class="fa fa-keyboard-o fa-2x"></i>
</button>
<div class="modal fade" id="kbdModal" tabindex="-1" role="dialog" aria-labelledby="kbdModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="kbdModalLabel">Keyboard shortcuts</h4>
			</div>
			<div class="modal-body">
				<table class="table table-bordered">
					<tbody>
						<tr>
							<td>
								<kbd>n</kbd> or <kbd>r</kbd> or <kbd>space</kbd>
							</td>
							<td>Get a new article.</td>
						</tr>
						<tr>
							<td>
								<kbd>esc</kbd>
							</td>
							<td>Clear all stored data. Includes history and favorites.</td>
						</tr>
						<tr>
							<td>
								<kbd>f</kbd>
							</td>
							<td>Toggle favorite on the current article.</td>
						</tr>
						<tr>
							<td>
								<kbd>?</kbd>
							</td>
							<td>Show this help.</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>