<div class="header">
<div class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">RandoWiki</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#" id="new-article-btn" title="New Article"><span class="fa fa-refresh fa-lg"></span> <span class="collapse-text">New Article</span></a></li>
				<li class="dropdown" id="history"></li>
				<li class="dropdown" id="favorites"></li>
			</ul>
		</div>
	</div>
</div>
</div>